{% from './components/notifs.html' import notif  %}
{% from './components/amazon.html' import customButton  %}

{% if cart_count is not none %}

    <span id="cart-count" class="font-bold text-orange-500 absolute">{{cart_count}}</span>

  {% if not cart_only %}
    
      <banner>

        <!-- controls animation -->
        <div 
            onclick="this.classList.remove('noti-open'); this.classList.add('noti-close')"
            class="w-full max-h-0 overflow-hidden">

          <!-- contrrol padding since max-h cannot work w padding -->
            <div class="flex w-full p-12 h-full  bg-red-500 cursor-pointer">

              <!-- content -->
              <div class="flex items-center bg-white h-full">
                <img src="{{product.thumbnail}}" class="rounded-full w-10 h10">
                <span class="text-xl font-bold">{{product.title}} ({{quantity}}) was added to your cart</span>
              </div>
          
          
              <div class="flex flex-col gap-x-4 gap-y-6 h-full justify-around bg-white">
        

                  <a onclick="event.stopPropagation()" href="{{ url_for('checkout') }}">
                  {{ customButton('Proceed to checkout', color='green-400', hoverColor='green-600',
                  icon='fa-solid fa-circle-check',  classes='text-xs !p-2 !rounder-sm')}}
                  </a>
              
                  <a onclick="event.stopPropagation()" href="{{ url_for('cart') }}">
                    {{ customButton('Go to Cart', icon='fa-solid fa-cart-shopping',  classes='text-xs !p-2 !rounder-sm ')}}
                  </a>

                  {{ customButton('Continue Shopping', classes='text-xs !p-2', color='gray-50', hoverColor='slate-200 !rounder-sm')}}

            
              </div>

            </div>

        </div>

        </banner>


  {% endif %}

{% endif %}

{{notif(message, type)}} 

