{% extends 'templates/layout.html' %} 
{% from 'components/amazon.html' import star, productPrice, customButton, productStars, productStock, productQty %}

{% block page_content %}

<div class="grid grid-rows-[auto_1fr] bg-white h-full">

    <div class="col-span-full py-2 px-3 bg-white border-b border-b-solid z-10 border-slate-200"
    style="box-shadow: 0px 1px 3px 1px rgb(204, 200, 200);"
    >
        <span class="text-sm text-slate-500 font-medium"><a href="{{ url_for('get_products', category=product.category ) }}" >{{ product.category_display }} </a>
            <i class="fa-solid fa-chevron-right text-[8px] my-auto"></i> 
        {{ product.brand }}</span>
    </div>

    
    <div class="grid  grid-cols-[1fr_2fr_1fr] p-8">

        <!-- [rpduct image container] -->
        <img id="main-img" src="{{ product.thumbnail }}" class=" justify-self-center w-auto max-h-[60vh] mix-blend-multiply" alt="">

        <!-- detail container -->
        <div class="flex flex-col gap-6 pl-6 pr-2 ">

            <div class="pb-4 border-b border-b-solid border-slate-300 flex flex-col">
                <span class="text-2xl font-medium">{{ product.title }}</span> 

                <span>
                    {{product.rating}} - 
                    {{ productStars(product) }}
                </span>

            </div>

            <div class="pb-4 border-b border-b-solid border-slate-300 flex flex-col gap-y-4">

                <span>
                    {{ productPrice(product) }}
                </span>

                <div class="flex gap-x-4">

                    {% set mini_img = "h-14 aspect-auto p-1 border border-solid hover:border-orange-500 cursor-pointer" %}
                    
                    {% for image in product.images | reverse  %}
                        <img src="{{ image }}" class="{{ mini_img }} mini-img {% if loop.first %}
                            border-orange-300
                        {% else %}
                            border-slate-300
                        {% endif %}" alt="">
                    {% endfor %}
                </div>
            </div>
            <div class="pb-4 border-b border-b-solid border-slate-300 flex flex-col">

                <p>
                    {{product.description}}
                </p>

            </div>
        </div>

        <!-- price container -->

        <div class="justify-self-center">
            <form class="flex flex-col gap-y-4">


            <div class="p-4 ml-3  w-fit min-w-[200px] self-center border-gray-400  border border-solid rounded-xl flex flex-col gap-y-3">

                <div class="flex flex-col gap-y-3 pb-2 border-b border-b-solid border-gray-400">

                {{ productPrice(product) }}
                <!-- condition for location -->
                <span class="text-xs">
                    <i class="fa-solid fa-location-dot"></i>
                    <span class="text-blue-400">Enter your address</span>
                </span>

                {{ productStock(product) }}

                    {{ productQty(product)}}
                    <!-- qty has pid -->
                    
                        <span
                        hx-post="{{url_for('cart_add')}}"
                        hx-include="closest form"
                        hx-swap="multi:this:none,#cart-count:outerHTML,#banner,#messages"
                        hx-trigger="click"
                        >
                            {{ customButton('Add to Cart',  classes='text-xs', as_submit=false) }}
                        </span>


                    <span  hx-post="{{ url_for('checkout-single') }}" hx-include="closest form" hx-target="body" hx-push-url="true">
                        {{ customButton('Buy Now', color='orange-400', hoverColor='orange-600', classes='text-xs') }}
                    </span>
                
                </div>

                
                <span hx-post="{{ url_for('account_favourites')}}" hx-trigger="click" hx-include="closest form"  hx-swap="none">
                    {{customButton('Add to List', color="white", hoverColor="gray-300", classes='text-xs border border-solid border-slate-300')}}
                </span>

            </div>

        </form>


        </div>
    </div>
    

</div>

{% endblock page_content %}