{% from './components/forms.html' import customInput %} 
{% from './components/amazon.html' import customButton %} 

{% extends 'templates/noAuth-login-register.html' %} 

{% block bottom_content %}
<!-- hx-boost="true"x -->

  <form
    method="POST"
    hx-target="#messages"
    hx-swap="innerHTML"
    novalidate
    class="grid gap-y-8 gap-x-2 w-[300px] bg-white border border-solid border-slate-300 shadow-sm rounded-xl p-6"
  >
    <h4 class="text-3xl text-black font-medium">
      Sign In
    </h4>

    {% for field in form %} {{ customInput(field) }} {% endfor %}

  </form>

  <div class="w-full relative  border-b-2 border-b-solid border-b-slate-200 my-6">
      <span class="bg-white px-4 text-xs text-slate-400 absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"> New to Amazon ? </span>
  </div>
  
<a href="{{ url_for('register')  }}">

  {{ customButton('Create Your amazon account', 
color='white', 
hoverColor='gray-100',
classes='text-black border border-slate-200 shadow-sm' ) }}
</a>



{% endblock bottom_content %}
