{% from './components/forms.html' import customInput %} 

{% extends 'templates/noAuth-login-register.html' -%} 

{% block bottom_content %}


<div class="bg-white border border-solid border-slate-500 rounded-xl p-6">

  <form
  hx-boost="true"
  method="POST"
  novalidate
  action="{{ url_for('register') }}"
  hx-target-4*="{% for field in form %}#{{field.id}}-error{% if not loop.last %},{% endif %}{% endfor %},#messages"
  hx-target="body"
class="grid sm:grid-cols-2 max-w-xl gap-y-3 gap-x-2 "
>
<h4 class="text-3xl text-black font-medium col-span-full">
Create Account
</h4>

{% for field in form %} 
  
    {{ customInput(field, field.id in ['username','email', 'dob']) }} 



{% endfor %}
</form>


<div class="w-full relative  border-b-2 border-b-solid border-b-slate-200 shadow-sm col-span-full my-2">
</div>

<span class="text-sm">Already have an account?
  <span class="text-blue-600">
    <a href="{{ url_for('login') }}">Sign in</a>
    <i class="fa-solid fa-caret-right text-[10px]"></i>
  </span>
</span>
 

</div>

 




{%- endblock bottom_content -%}
